.speaker-detail img {
    max-width: 140px;
    border-radius: 50%;
  }
  
  .speaker-detail p {
    color: #60646b;
  }
  
  .speaker-card
  {
    border-top: 3px solid colorofyourchosing }

    h4{

        font-size: 20px;
        //font-family: cursive;  
    }
    h5{
        font-size: 17px;
        //      font-family: cursive;
    }