<ion-header>
  <ion-toolbar>
    <ion-title>Disease Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-row>
    <ion-col>
  <ion-card >
   
    <ion-card-header>
      <h6 class="sub-title" style="text-align: right;margin-top: -11px;"> Bacterial Spot</h6>
    </ion-card-header>
    <ion-card-content>
     <img src='/assets/img/bacterial.jpg' click() width="60%" height="300px">
    </ion-card-content>
  </ion-card>
</ion-col>
<ion-col>
  <ion-card >
    <ion-card-header>
      <h6 class="sub-title" style="text-align: right;margin-top: -11px;"> Leaf Fold</h6>
    </ion-card-header>
    <ion-card-content>
     <img src='/assets/img/leaf_mold.jpg'  width="60%" height="300px">
    </ion-card-content>
  </ion-card>
</ion-col>

</ion-row>
</ion-grid>
</ion-content>
