.title
{
    font-size: 27px;
   // text-align: center;
    

}

.main{
    box-shadow: 1px 1px 8px rgba(255, 325, 30, 0.30);
    border-radius: 27px;
}
.sub-title
{
    font-size: 15px;
  //  text-align: left;
   // box-shadow: 8px 9px 22px rgba(255, 325, 30, 0.30);
   // border-radius: 5px;

}