<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Plant Deasease Detection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content IonContent>
  <div style="overflow-x:auto;">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="form-group">
        <input type="file" accept="image/x-png,image/gif,image/jpeg"  (change)="get($event)" >
      </div>
    
      <div class="form-group input-group-lg">
          <input class="form-control" placeholder="Name" formControlName="crop_name">
      </div>
    
      <div class="form-group">
          <button class="btn btn-danger btn-block btn-lg">Create</button>
      </div>
    </form>
    
      <button (click)="pickImage()">pick image
        <ion-icon ></ion-icon>
      </button>
    


      <button (click)="captureImage()">captureImage
        <ion-icon ></ion-icon>
      </button>
      </div>
<img [src]="imgURL">
</ion-content>
