<ion-header>
  <ion-toolbar>
    <ion-title>
      Social Sharing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-icon name="pin" slot="end" color="primary"></ion-icon>
    <h2 #messageSubject>Ionic Developer</h2>
    <p>May 5, 2019</p>
    <img src="https://source.unsplash.com/category/technology/600x390">

    <ion-card-content>
      <p #messageBody>Wow Ionic 4 is so awesom. I gotta share this to other people.</p>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button color="primary">
              <ion-icon slot="end" name="thumbs-up"></ion-icon>
              <div>12 Likes</div>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button (click)="sendShare(messageBody.innerText, 
              messageSubject.innerText, 'https://ionicframework.com/docs')">
              <ion-icon slot="icon-only" name="share"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>